

NODE_ENV=development
PORT=4000

MONGO_URI=mongodb+srv://<user>:<password>@<cluster-url>/kickmatch_hub?retryWrites=true&w=majority


SESSION_SECRET=replace_with_a_64_char_random_hex_string


MFA_ENCRYPTION_KEY=replace_with_a_64_char_random_hex_string

CORS_ORIGIN=http://localhost:3000
COOKIE_SECURE=true